﻿<div class="d-flex justify-content-center align-items-center my-5">
    <div class="container w-50">
        <div class="card border-left mb-3">
            <div class="card-header bg-light border-left text-secondary font-weight-bold">Create Post</div>
            <div class="card-body text-left">
                <div class="row g-0">
                    <div class="col-2 align-self-center">
                        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" style="width: 60px;height: 60px;" src="/img/Mario.png" alt="...">
                    </div>

                    <div class="col-10 align-self-center">
                        <textarea class="form-control input-post align-self-center" id="formGroupExampleInput" placeholder="เขียนอะไรบางอย่างในนี้สิ" maxlength="300"> </textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-white border-left">
                <div class="row">
                    <div class="col-2 align-self-center">
                        <div class="col-auto">

                            <label class="btn btn-light text-secondary">
                                <img class="img-fluid te " style="width: 20px;height: 20px;" src="/img/image.png" alt="..."><small>Photo/Video</small>  <input type="file" hidden>
                            </label>
                        </div>
                    </div>
                    <div class="col-10 align-self-center">
                        <div class="text-right">

                            <button class="btn btn-secondary mx-3">Post</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container w-50">
    <div class="card border-left mb-3">
        <div class="card-body">
            <div class="row g-0">
                <div class="col-2 align-self-center">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" style="width: 60px;height: 60px;" src="/img/Mario.png" alt="...">
                </div>
                <div class="col-10 align-self-center">

                    <h5 class="card-title text-primary font-weight-bold">Mario Odyssey</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>


            <img class="card-img-bottom" src="/img/MarioPost.jpg" alt="Card image cap">
        </div>
        <div class="card-footer bg-white border-left">
            <div class="d-flex justify-content-center">

                <a class="nav-link text-secondary" role="button">ถูกใจ </a>
                <a class="nav-link text-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    แสดงความคิดเห็น
                </a>


            </div>
            <div class="collapse align-self-center" id="collapseExample">
                @*<div class="card card-body">*@
                <div class="row g-0">
                    <div class="col-1 align-self-center mr-2">
                        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" style="width: 40px;height: 40px;" src="/img/Mario.png" alt="...">
                    </div>

                    <div class="col-10 align-self-center">
                        <input class="form-control form-control-sm mx-auto" type="text" placeholder="เขียนความคิดเห็น..." maxlength="300">
                    </div>
                </div>
                @*</div>*@
                <div class="row g-0">
                    <div class="col-1 align-self-center mr-2">
                        <img class="img-fluid img-profile rounded-circle mb-2" style="width: 40px;height: 40px;" src="/img/Luigi.png" alt="...">
                    </div>

                    <div class="col-10 align-self-center">
                        <label for="fusername" class=" btn btn-light mr-1 "><small>Hi Mario!!!!</small> </label>

                        @*<div class="btn-group dropend">
                            <button type="button" class="btn btn-link " data-bs-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><small>Edit Comment</small></a></li>
                                <li><a class="dropdown-item" href="#"><small>Delete Comment</small></a></li>
                            </ul>
                        </div>*@
                    </div>
                    <div class="row g-0">
                        <div class="col-1 align-self-center mr-2">
                            <img class="img-fluid img-profile rounded-circle mb-2" style="width: 40px;height: 40px;" src="/img/Mario.png" alt="...">
                        </div>
                        <div class="col-10 align-self-center">
                            <label for="fusername" class=" btn btn-light mr-1 "><small>Hi Luigi!!!!</small></label>

                            <div class="btn-group dropend">
                                <button type="button" class="btn btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                    ...
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#"><small>Edit Comment</small></a></li>
                                    <li><a class="dropdown-item" href="#"><small>Delete Comment</small></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .input-post, .input-post:focus {
        border-width: 0;
        border-color: none !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        outline: none !important;
    }
</style>

@code {

}
