﻿@using FacebookProjectTeam.Models
@using Microsoft.AspNetCore.Components.Web

@using FacebookProjectTeam.Controllers
@inject IUserController userController
@inject NavigationManager NavigationManager


@*<form action="http://localhost:8080/facebook/login" method="POST">*@

<div class="d-flex justify-content-center align-items-center" style="height:80vh;">
    <div class="container w-50">

        @if (DisableAlert == false)
        {
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </symbol>
            </svg>
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div>
                    Invalid username or password ,Please try again!
                </div>
            </div>

        }
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/img/facebook_icon_130940.png" class="img-fluid rounded-start mr-5" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <label for="fusername">Username:</label>
                    <input type="text" id="fusername" name="fuername" class="form-control" @bind-value="user_model.username" />
                    <label for="fpassword">Password:</label>
                    <input type="password" id="fpassword" name="fpassword" class="form-control" @bind="user_model.password" />

                    <div class="d-flex justify-content-center mt-2">

                        @*<button class="btn btn-link mx-3">Signup</button>*@

                        <ul class="navbar-nav ml-2 mr-3">
                            <li class="nav-item">
                                <a class="nav-link" href="/Privacy">Signup</a>
                            </li>
                        </ul>
                        <button class="btn btn-primary mx-3" @onclick="(e => login())">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*</form>*@
@code {

    private UserModels user_model = new UserModels();

    private Boolean DisableAlert = true;

    public void login()
    {
        string username = user_model.username;
        string password = user_model.password;

        user_model = userController.Login(username, password);

        if (user_model.username == null)
        {
            //Wrong username password
            DisableAlert = false; //Show Alert
        }
        else
        {

            //Pass
            DisableAlert = true;
            NavigationManager.NavigateTo(uri: "/FeedPage", true);


        }
    }

}




