﻿@using FacebookProjectTeam.Models
@using Microsoft.AspNetCore.Components.Web

@using FacebookProjectTeam.Controllers
@inject IUserController userController
@inject NavigationManager NavManager
@inject NavigationManager NavigationManager
@using System.Threading;

@*<form action="http://localhost:8080/facebook/signup" method="POST">*@

<div class="d-flex justify-content-center align-items-center my-5">
    <div class="container w-50">
        <div class="d-flex justify-content-center">
            <img src="/img/facebook_icon_130940.png" class="img-fluid rounded-start mb-3" alt="..." width="150">

            <br />
        </div>
        @if (AlertSignupSuccess == true)
        {

            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </symbol>
            </svg>
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
                <div>
                    Register Successful
                </div>
            </div>


        }

        @if (DisableAlert_DuplicateUsername == false)
        {
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </symbol>
            </svg>
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div>
                    Someone else is already using this username. Try a difference username
                </div>
            </div>

        }
        @if (DisableAlert == false)
        {

            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </symbol>
            </svg>
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div>
                    Please fill in the blanks correctly completed.
                </div>
            </div>

        }
        @if (DisableAlertConfirmpassword == false)
        {
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </symbol>
            </svg>
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div>
                    Password does not matched.
                </div>
            </div>

        }
        <label for="fusername">Username:</label>
        <input type="text" id="fusername" name="fuername" class="form-control" @bind="username" />
        <label for="fpassword">Password:</label>
        <input type="password" id="fpassword" name="fpassword" class="form-control" @bind="password" />
        <label for="fpassword">Confirm Password:</label>
        <input type="password" id="fconfirmpassword" name="fconfirmpassword" class="form-control" @bind="confirmpw" />
        <label for="fpassword">Name:</label>
        <input type="text" id="fname" name="fname" class="form-control" @bind="name" />

        <div class="d-flex justify-content-center">
            <button class="btn btn-primary mt-2" @onclick="saveSingup">Signup</button>

        </div>

    </div>
</div>
@*</form>*@





@code {

   


    private UserModels user_model = new UserModels();



    private Boolean DisableAlert_DuplicateUsername = true;
    private Boolean DisableAlert = true;
    private Boolean DisableAlertConfirmpassword = true;
    private Boolean AlertSignupSuccess = false;

    string username;
    string password;
    string confirmpw;
    string name;

    public void saveSingup()
    {
       






        //Check กรอกข้อมูลไม่ครบ
        if (username == null || password == null || name == null)
        {

            DisableAlert = false;

        }
        else
        {


            DisableAlert = true;

        }

        user_model = userController.SignupAddUser(username, password, name);

        if (user_model.username == null)
        {

            userController.SignUp(username, password, name);
            AlertSignupSuccess = true;

            NavigationManager.NavigateTo(uri: "/Index", true);

        }
        else
        {

            AlertSignupSuccess = false;
        }

        //Check username ซ้ำ
        if (user_model.username == username && username != null)
        {
            // Check Duplicate

            DisableAlert_DuplicateUsername = false; //Show Alert



        }
        else
        {
            DisableAlert_DuplicateUsername = true;

        }

        if (password != confirmpw)
        {
            DisableAlertConfirmpassword = false;
        }
        else
        {
            DisableAlertConfirmpassword = true;

        }



    }

}
